
<div class="w3-container">
 
  

    <div class="w3-bar w3-section w3-black w3-card-4">
      <a class="w3-bar-item w3-button w3-green w3-hover-red w3-padding-16">Home</a>
      <a class="w3-bar-item w3-button w3-hover-red w3-padding-16">About</a>
      <a class="w3-bar-item w3-button w3-hover-red w3-padding-16">section1</a>
      
      <a class="w3-bar-item w3-button w3-hover-red w3-padding-16">Contact</a>
    </div>
  </div>
<app-header></app-header>
<app-image></app-image>
<app-slider></app-slider>
<app-team></app-team>
<app-quotes></app-quotes>
<app-contact></app-contact>