<div class="w3-container">
    <h2>Clients Say's</h2>
    <p>The w3-panel class can be used to display quotes:</p>
  
    <div class="w3-panel w3-leftbar w3-sand">
      <p class="w3-xxlarge w3-serif"><i>"Make it as simple as possible, but not simpler."</i></p>
      <p>Albert Einstein</p>
    </div>

    <div class="w3-panel w3-center w3-leftbar w3-sand">
        <p><i class="w3-serif w3-xlarge">
        <span style="font-size:150px;line-height:0.6em;opacity:0.2">✔</span>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita odit aliquid doloremque eos maiores, ad earum quibusdam quasi quo, laudantium autem aperiam porro eaque tempore, molestias eum impedit atque eius.</i></p>
        </div>
  </div>